@media (max-width: 376px) {

    .page__name{
        text-align: center;
    }

    .timelines__timeline{
        @include columna2;
        margin-bottom: 3rem;
        border: 2px solid $color-grey;
    }

    .timeline__divider{
        display: none;
    }
    .timeline__description{
        width: 100%;

    }

    .loader:before,
    .loader:after {
        left: 10rem;
    }

    .contacto__header{
        margin-top: 2rem;
    }
    .contacto__info, .contacto__form-box {
        margin: 1rem 1rem;
    }


}