
@media (max-width: 426px) {
    .certificates__certificate{
        @include columna2;
    }
    .certificate__logo{
        width: 100%;
    }

    .page__name{
        text-align: center;
    }

    .about__header, .portafolio__header{
        margin: 2rem auto;
    }

    .blog__header{
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .reviews__review{
        margin: 3rem auto;
        }

        .loader:before,
        .loader:after {
            left: 15rem;
            top: 3rem;
        }
}